body {
    font-family: Arial, sans-serif;
    background-color: #E07A5F;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    margin-top: 20vh;
  }
  
  h1 {
    color: #3D405B;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
  }